asyncpool~=1.0
czifile~=2019.7.2
dask~=2021.11.1
future~=0.18.2
imageio~=2.9.0
matplotlib~=3.4.2
moviepy~=1.0.3
numpy~=1.24
openpyxl>=3.0.0
pandas~=1.2.5
Pillow~=9.5
pysimplegui==4.45.0
python-javabridge~=4.0.0
python-bioformats~=4.0
PyYAML~=5.4.1
requests~=2.26.0
roifile~=2023.2.12
scikit-image~=0.18.2
scipy~=1.7.0
seaborn~=0.11.1
setuptools~=65.5.1
Shapely~=1.7.1
tifffile~=2023.3.21
vtk~=9.2.0
wheel~=0.40
