import paraview
paraview.compatibility.major = 5
paraview.compatibility.minor = 11

#### import the simple module from the paraview
from paraview.simple import *

# ----------------------------------------------------------------
# setup views used in the visualization
# ----------------------------------------------------------------

# get the material library
materialLibrary1 = GetMaterialLibrary()

# Create a new 'Render View'
renderView1 = CreateView('RenderView')
renderView1.ViewSize = [966, 789]
renderView1.AxesGrid = 'GridAxes3DActor'
renderView1.CenterOfRotation = [255.5, 255.5, 119.5]
renderView1.StereoType = 'Crystal Eyes'
renderView1.CameraFocalDisk = 1.0
renderView1.CameraParallelScale = 380.5794923534373
renderView1.BackEnd = 'OSPRay raycaster'
renderView1.OSPRayMaterialLibrary = materialLibrary1

SetActiveView(None)

# ----------------------------------------------------------------
# setup view layouts
# ----------------------------------------------------------------

# create new layout object 'Layout #1'
layout1 = CreateLayout(name='Layout #1')
layout1.AssignView(0, renderView1)
layout1.SetSize(966, 789)

# ----------------------------------------------------------------
# restore active view
SetActiveView(renderView1)
# ----------------------------------------------------------------

# ----------------------------------------------------------------
# setup the data processing pipelines
# ----------------------------------------------------------------
# 2D transfer function for 'TiffScalars'
tiffScalarsTF2D = GetTransferFunction2D('TiffScalars')
tiffScalarsTF2D.ScalarRangeInitialized = 1
tiffScalarsTF2D.Range = [0.0, 12000, 0.0, 2500]

{% for chk in channels %}
# create a new 'TIFF Series Reader'
{{channels[chk].label}}_tiff = TIFFSeriesReader(registrationName='{{channels[chk].label}}.tiff*', FileNames={{channels[chk].tiff_files_list}})
{{channels[chk].label}}_tiff.ReadAsImageStack = 0

# ----------------------------------------------------------------
# setup the visualization in view 'renderView1'
# ----------------------------------------------------------------
# show data from channel
{{channels[chk].label}}tiffDisplay = Show({{channels[chk].label}}_tiff, renderView1, 'UniformGridRepresentation')

# get separate color transfer function/color map for 'TiffScalars'
{{channels[chk].label}}_tiffScalarsLUT = GetColorTransferFunction('TiffScalars', {{channels[chk].label}}tiffDisplay, separate=True)
{{channels[chk].label}}_tiffScalarsLUT.TransferFunction2D = tiffScalarsTF2D
{{channels[chk].label}}_tiffScalarsLUT.RGBPoints = {{channels[chk].ctf_rgb_points}}
{{channels[chk].label}}_tiffScalarsLUT.ScalarRangeInitialized = 1.0

# get separate opacity transfer function/opacity map for 'TiffScalars'
separate_{{channels[chk].label}}tiffDisplay_TiffScalarsPWF = GetOpacityTransferFunction('TiffScalars', {{channels[chk].label}}tiffDisplay, separate=True)
separate_{{channels[chk].label}}tiffDisplay_TiffScalarsPWF.Points = {{channels[chk].otf_opacity_points}}
separate_{{channels[chk].label}}tiffDisplay_TiffScalarsPWF.ScalarRangeInitialized = 1

# trace defaults for the display properties.
{{channels[chk].label}}tiffDisplay.Representation = 'Volume'
{{channels[chk].label}}tiffDisplay.ColorArrayName = ['POINTS', 'Tiff Scalars']
{{channels[chk].label}}tiffDisplay.LookupTable = {{channels[chk].label}}_tiffScalarsLUT
{{channels[chk].label}}tiffDisplay.SelectTCoordArray = 'None'
{{channels[chk].label}}tiffDisplay.SelectNormalArray = 'None'
{{channels[chk].label}}tiffDisplay.SelectTangentArray = 'None'
{{channels[chk].label}}tiffDisplay.Scale = [1.0, 1.0, 10.0]
{{channels[chk].label}}tiffDisplay.OSPRayScaleArray = 'Tiff Scalars'
{{channels[chk].label}}tiffDisplay.OSPRayScaleFunction = 'PiecewiseFunction'
{{channels[chk].label}}tiffDisplay.SelectOrientationVectors = 'None'
{{channels[chk].label}}tiffDisplay.ScaleFactor = 51.1
{{channels[chk].label}}tiffDisplay.SelectScaleArray = 'Tiff Scalars'
{{channels[chk].label}}tiffDisplay.GlyphType = 'Arrow'
{{channels[chk].label}}tiffDisplay.GlyphTableIndexArray = 'Tiff Scalars'
{{channels[chk].label}}tiffDisplay.GaussianRadius = 2.555
{{channels[chk].label}}tiffDisplay.SetScaleArray = ['POINTS', 'Tiff Scalars']
{{channels[chk].label}}tiffDisplay.ScaleTransferFunction = 'PiecewiseFunction'
{{channels[chk].label}}tiffDisplay.OpacityArray = ['POINTS', 'Tiff Scalars']
{{channels[chk].label}}tiffDisplay.OpacityTransferFunction = 'PiecewiseFunction'
{{channels[chk].label}}tiffDisplay.DataAxesGrid = 'GridAxesRepresentation'
{{channels[chk].label}}tiffDisplay.PolarAxes = 'PolarAxesRepresentation'
{{channels[chk].label}}tiffDisplay.ScalarOpacityUnitDistance = 1.9189433079834581
{{channels[chk].label}}tiffDisplay.ScalarOpacityFunction = separate_{{channels[chk].label}}tiffDisplay_TiffScalarsPWF
{{channels[chk].label}}tiffDisplay.TransferFunction2D = tiffScalarsTF2D
{{channels[chk].label}}tiffDisplay.OpacityArrayName = ['POINTS', 'Tiff Scalars']
{{channels[chk].label}}tiffDisplay.ColorArray2Name = ['POINTS', 'Tiff Scalars']
{{channels[chk].label}}tiffDisplay.IsosurfaceValues = [5836.0]
{{channels[chk].label}}tiffDisplay.SliceFunction = 'Plane'
{{channels[chk].label}}tiffDisplay.Slice = 39
{{channels[chk].label}}tiffDisplay.SelectInputVectors = [None, '']
{{channels[chk].label}}tiffDisplay.WriteLog = ''

# init the 'PiecewiseFunction' selected for 'ScaleTransferFunction'
{{channels[chk].label}}tiffDisplay.ScaleTransferFunction.Points = {{channels[chk].scale_transfer_fn}}

# init the 'PiecewiseFunction' selected for 'OpacityTransferFunction'
{{channels[chk].label}}tiffDisplay.OpacityTransferFunction.Points = {{channels[chk].opacity_transfer_fn}}

# init the 'Plane' selected for 'SliceFunction'
{{channels[chk].label}}tiffDisplay.SliceFunction.Origin = [255.5, 255.5, 119.5]

# set separate color map
{{channels[chk].label}}tiffDisplay.UseSeparateColorMap = True

{% if loop.index0==0 %}
# ----------------------------------------------------------------
# restore active source
SetActiveSource({{channels[chk].label}}_tiff)
# ----------------------------------------------------------------
{% endif %}
# ----------------------------------------------------------------
{% endfor %}


if __name__ == '__main__':
    # generate extracts
    SaveExtracts(ExtractsOutputDirectory='extracts')